<%- include('partials/header.ejs') -%>

<body>
    <%- include('partials/navbar.ejs') -%>
    <main>
        <section>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <div class="container">
                            <hr>
                            <h1>Perguntas</h1>
                            <hr>
                            <a href="/perguntar" class="btn btn-dark">Perguntar</a>
                            <hr>
                            <% perguntas.forEach(pergunta=> { %>
                            <div class="card">
                                <div class="card-body">
                                    <p>
                                        <h4><%= pergunta.titulo %></h4>
                                    </p>
                                </div>
                                <div class="card-footer">
                                   <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">Responder</button></a>
                                </div>
                            </div>
                            <br>
                            <% }) %>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
<%- include('partials/footer.ejs') -%>